<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/fonts/ComicHelvetic/comichelvetic.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body>
    <nav>
        <div class="container">
            <div class="navbar">
                <a href="#" class="logo"><img src="#" alt="Дошколярик"></a>
                <ul class="nav_list">
                    <li class="nav_item"><a href="#" class="nav_link">lorem</a></li>
                    <li class="nav_item"><a href="#" class="nav_link">lorem</a></li>
                    <li class="nav_item"><a href="#" class="nav_link">lorem</a></li>
                </ul>
                <div class="schedule">
                    <p>Пн-Пт: <br><span>8:00 - 21:00</span></p>
                    <p>Cб-Пт: <br><span>8:00 - 21:00</span></p>
                </div>
                <div class="phone">
                    <p>+380 000 00 00</p>
                    <p>+380 000 00 00</p>
                </div>
                <button class="call nav_btn">Заказать звонок</button>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="promo_block">
                <div class="promo_text">
                    <h1 class="promo_title">Дошколярик - центр развития и рисования для детей</h1>
                    <p class="promo_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea asperiores eius
                        placeat deserunt non architecto.</p>
                    <ul class="promo_list">
                        <li class="promo_item">lorem</li>
                        <li class="promo_item">lorem</li>
                        <li class="promo_item">lorem</li>
                    </ul>
                    <button class="call promo_btn">Записаться</button>
                </div>
                <div class="promo_img">
                    <div id="promoScene">
                        <div data-depth='0.2'></div>
                        <div data-depth='0.2'></div>
                        <div data-depth='0.2'></div>
                        <div data-depth='0.2'></div>

                    </div>
                    <ul class="promo_list">
                        <li class="promo_item">
                            <a href="#" class="promo_link"><img src="" alt="" class="promo_icon"></a>
                        </li>
                        <li class="promo_item">
                            <a href="#" class="promo_link"><img src="" alt="" class="promo_icon"></a>
                        </li>
                        <li class="promo_item">
                            <a href="#" class="promo_link"><img src="" alt="" class="promo_icon"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="ways">
        <div class="container">

        </div>
    </section>
    <section class="description">
        <div class="container"></div>
    </section>
    <section class="promo">
        <div class="container"></div>
    </section>
    <section class="promotion">
        <div class="container"></div>
    </section>
    <section class="contacts">
        <div class="container"></div>
    </section>
    <footer>
        <div class="container"></div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src={% static 'main/js/script.js' %}></script>
</body>

</html>